In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("WestRoxbury.csv")

In [4]:
df.head()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None

In [5]:
df.dtypes

TOTAL VALUE     float64
TAX               int64
LOT SQFT          int64
YR BUILT          int64
GROSS AREA        int64
LIVING AREA       int64
FLOORS          float64
ROOMS             int64
BEDROOMS          int64
FULL BATH         int64
HALF BATH         int64
KITCHEN           int64
FIREPLACE         int64
REMODEL          object
dtype: object