In [1]:
!pwd

/Users/james/MyData/github_clone/keraspp_2021/DiffProg_MyBook/julia_lab/recommender

In [2]:
# Inport dataframe and os packages
import pandas as pd
import os

data_dir = "data"
fname = "/ml-latest-small.zip"
path_to_file = data_dir + fname

# load date into foldname, data
if not os.path.exists(path_to_file):
    !mkdir $data_dir
    !cd $data_dir && wget http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
    !cd $data_dir && unzip ml-latest-small.zip

# Read as DataFrame
dataset_dir = data_dir + "/ml-latest-small/"
ratings_data = pd.read_csv(dataset_dir + '/ratings.csv')

In [3]:
print(ratings_data.info())
ratings_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
None

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931