In [3]:
!pwd

/mnt/d/wsl_data/github_clone/keraspp_2021/DiffProg_MyBook/julia_lab/recommender

In [4]:
# Inport dataframe and os packages
import pandas as pd
import os

data_dir = "data"
fname = "/ml-latest-small.zip"
path_to_file = data_dir + fname

# load date into foldname, data
if not os.path.exists(path_to_file):
    !mkdir $data_dir
    !cd $data_dir && wget http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
    !cd $data_dir && unzip ml-latest-small.zip

In [4]:
# Read as DataFrame
dataset_dir = data_dir + "/ml-latest-small/"
ratings_data = pd.read_csv(dataset_dir + '/ratings.csv')

In [5]:
print(ratings_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
None

In [6]:
ratings_data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [24]:
import numpy as np
Nuser = np.max(ratings_data.userId)
Nmovie = np.max(ratings_data.movieId)
All_elements = Nuser * Nmovie
print("Nuser, Nmovie, All_elements = ", (Nuser, Nmovie, All_elements))

Nuser, Nmovie, All_elements =  (610, 193609, 118101490)

In [25]:
print(f"sparcity_rate = {(1.0 - len(ratings_data) / All_elements) * 100:.2f}%")

sparcity_rate = 99.91%